---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import Pagination from '../../components/Pagination.astro';

const allPosts = await Astro.glob('../posts/*.md');  

export async function getStaticPaths({ paginate }) {

    const allPosts = await Astro.glob('../posts/*.md');  

    // 日付新しい順
    const sortedPosts = allPosts.sort((a, b) => {
        const aDate = new Date(a.frontmatter.pubDate);
        const bDate = new Date(b.frontmatter.pubDate);
        return bDate.getTime() - aDate.getTime();
    });    

    return paginate(sortedPosts, { pageSize: 10 });
}
// ページネーションされたデータは、すべて"page"プロパティとして渡されます
const { page } = Astro.props;
const pathname = new URL(Astro.request.url).pathname.split('/');
const path = pathname[1];
const pageTitle = "pages"
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        {page.data.map((post) => 
            <BlogPost 
                pubDate={post.frontmatter.pubDate}, 
                url={post.url} title={post.frontmatter.title}, 
                description={post.frontmatter.description}, 
                tags={post.frontmatter.tags} 
            />
        )}
    </section>

    {allPosts.length > 10 ? (
        <div>
            <Pagination length={page.lastPage} 
                currentUrl={page.url.current} 
                currentPage={page.currentPage} 
                baseUrl={`/${path}`}
                firstUrl={`/${path}/1`} 
                prevUrl={page.url.prev} 
                nextUrl={page.url.next} 
                lastUrl={`/${path}/${page.lastPage}`}
            />
        </div>
    ) : null}
</BaseLayout>