---
const { pubDate, url, title, description, tags} = Astro.props;
---


<article>
    <time datetime={pubDate.slice(0, 10)}>{pubDate.slice(0, 10)}</time>
    <h1 class="title"><a href={url}>{title}</a></h1>
    <p>{description}</p>
    <div class="tags">
        {tags.map((tag) => (
            <p class="tag"><a href={`/tags/${tag}/1`}><i class="fa-solid fa-tags"></i>{tag}</a></p>
        ))}
    </div>
</article>