---
const { length, currentUrl, currentPage, baseUrl, firstUrl, prevUrl, nextUrl, lastUrl } = Astro.props;
const paginationList = Array(length).fill(0).map((_, i) => i + 1);
---

<nav class="pagination pagination-default">
    {/* JSのコメント構文も有効です */}
    { firstUrl == currentUrl ? (
        <span class="pagination-link disabled">
            &lt;&lt;
        </span>
    ) : (
        <a href={firstUrl} class="pagination-link">
            &lt;&lt;
        </a>
    )}

    { prevUrl ? (
        <a href={prevUrl} class="pagination-link">
            &lt;
        </a>
    ) : (
        <span class="pagination-link disabled">
            &lt;
        </span>        
    )}
    
    {
        paginationList.map((num) => (
            <a href={`${baseUrl+'/'+(num)}`} class={`pagination-link ${currentPage == num ? "disabled active" : ""}`}>
                {num}
            </a>
        ))
    }

    { !nextUrl ? (
        <span class="pagination-link disabled">
            &gt;
        </span>
    ) : (
        <a href={nextUrl} class="pagination-link">
            &gt;
        </a>
    )}

    { lastUrl == currentUrl ? (
        <span class="pagination-link disabled">
            &gt;&gt;
        </span>
    ) : (
        <a href={lastUrl} class="pagination-link">
            &gt;&gt;
        </a>
    )}
    
</nav>